@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.icon {
  width: 34px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 320px;
}


::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.result {
  font-weight: bold;
  margin-top: 40px;
}

.teal-0 {
  background-color: #b2d8d83f;
  color: rgb(213, 211, 211)
}

.teal-1 {
  background-color: #b2d8d8;
  color: rgb(48, 78, 108)
}

.teal-2 {
  background-color: #66b2b2;
}

.teal-3 {
  background-color: #008080;
  color: rgb(234, 234, 234);
}

.teal-4 {
  background-color: #006666;
  color: rgb(216, 216, 216);
}

.teal-5 {
  background-color: #004c4c;
  color: rgb(213, 211, 211);
}

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.mask-custom {
  backdrop-filter: blur(11px) !important;
  background-color: rgba(22, 21, 21, 0.5) !important;
}

.mask-result {
  backdrop-filter: blur(11px) !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.search-gradient-custom {
  /* fallback for old browsers */
  background: #4f558a;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(31, 100, 102), rgb(19, 58, 125));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgb(48, 78, 108))
}